<!doctype html>
<html>
    <head>
        <title>Blogz</title>
        <style>
                h1{
                    text-align: center;
                }
                .error{
                    color: red;
                }
        </style>
    </head>
<body>
    <header>
        
        <nav>
                <a href = '/'> Home  </a> |
                <a href= '/blog'> All posts </a> |
                <a href='/newpost'>New Post</a>
        </nav>
        <nav style='float: right'>
            {% if session['username'] %}
                {{ session ['username'] }}   
            {% else %}   
            {% endif %}
                <a href= '/logout'> Logout </a>|    
                <a href= '/login'> Login </a>  
        </nav>   
    </header>
    

</body>
</html> 
{% block content %}
        {% endblock %}