<!doctype html>
<html>
    <head>
        <title>Blogz</title>
        <style>
                h1{
                    text-align: center;
                }
                .error{
                    color: red;
                }
        </style>
    </head>
<body>
    <header>    
        <nav>
                <a href = '/'> Home  </a> |
                <a href= '/blog'> All posts </a> |
        
                <a href= '/login'> Login </a> |
                <a href= '/logout'> Logout </a>   
        </nav>   
    </header>

    {% block content %}
    {% endblock %}

</body>
</html> 