{% extends "base.html" %}

{% block content %}

<h1>Login</h1>

<form action="/login" method="post">
    <table>
        <tr>
            <td>
                <label><input name="username" type="text" value="{{ username }}"> Username: </label>
            </td>
            <td>

                <p class= "error"> {{ username_error }} </p>
            </td>
        </tr>
        <tr>
            <td>
                <label><input name="password" type="password">Password: </label>
            </td>
            <td>
                
                <p class= "error"> {{ password_error }} </p>
            </td>
        </tr>
    </table>
    <input type="submit" value="Login">
</form>
<p>Try to log in if you're not or register here: <a href= '/register'>registered</a>. </p>

{% endblock %}